<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="bootstrap/fonts/icomoon/style.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">  
  <link rel="stylesheet" href="bootstrap/css/owl.carousel.min.css">
  <link rel="stylesheet" href="bootstrap/fonts/flaticon/font/flaticon.css">  
  <link rel="stylesheet" href="bootstrap/css/style.css">
  <title>Cursos</title>
</head>
<body>
	<div align="center">
	<h1>Aluno</h1>
	</div>
	<div align="center">
		<h3><a class="btn btn-primary" role="button" href="/cursos">Lista de Alunos</a></h3>
	</div>	
		<div th:each=aluno:${aluno} class="container">			
			<p>Nome: <span th:text="${aluno.nome}"></span></p>
			<p>E-mail:  <span th:text="${aluno.email}"></span></p>
			<p>CPF: <span th:text="${aluno.cpf}"></span></p>
			<p>Telefone: <span th:text="${aluno.telefone}"></span></p>			
		</div>
		
		<div align="center">
		<h3>Contratos</h3>
		
	</div>
	<div class="container">
	<hr/>
		<div th:each=contrato:${contratos} class="container">
			<p>Código: <span th:text="${contrato.codigoCompra}"></span></p>
			<p>Curso:  <span th:text="${contrato.curso}"></span></p>						
		</div>
		
		<div align="center">
			<h1>Adicionar Contrato</h1>
		</div>
		</div>		
		<div class="container">
			<form method="post" class="form-horizontal">
			  <div class="form-group">
				  <label for="inputCodigo" class="control-label col-sm-2">Código de Compra:</label>
				    <div class="col-sm-10">
				    	<input type="text"  class="form-control" id="inputCodigo" placeholder="Código de compra..." name="codigoCompra"/>
				    </div>
			  </div>
			  
			  <label for="inputCurso" class="control-label col-sm-2">Selecione Curso:</label>

				<select name="curso.id" id="inputCurso">
						<option th:each="curso : ${cursos}"
								th:value="${curso.id}"
								th:text="${curso.nome}" />
				</select>
			  
			  
			  
			  
			  
			  <div align="center">	  
			  	<button type="submit"  class="btn btn-primary">Salvar</button>
			  </div>
			</form>
		</div>
		
		

</body>
</html>